<app-header></app-header>
<div class="container">
    <router-outlet></router-outlet>
    <footer class="footer row">
        <div class="col-md-8">
            <p>&copy; <a href="https://www.freecodecamp.org/miguelsmendoza" target="_blank">Miguel S. Mendoza</a> in 2017 following instructions in <a href="https://www.freecodecamp.org/challenges/build-a-pinterest-clone" target="_blank">freeCodeCamp <i class="fa fa-free-code-camp"></i></a>.
            </p>
        </div>
        <div class="col-md-4 text-right">
            <p><a href="https://github.com/MiguelSMendoza/book-trading-club" target="_blank">Source <i class="fa fa-github"></i></a>.</p>
        </div>
    </footer>

</div>