button,
a {
    cursor: pointer;
}

@media (min-width: 48em) {
    .nav-content {
        margin: 0 auto;
        max-width: 46rem;
    }
}

.input-group .form-control {
    border: 0;
}

.input-group .input-group-addon {
    color: white;
    background-color: green;
    cursor: pointer;
}

.input-group .input-group-addon:hover {
    background-color: lightgreen;
    color: gray;
}