<div class="card" style="width: 20rem;">
    <button (click)="onRemove()" type="button" class="close" aria-label="Close" *ngIf="canDelete()">
        <span aria-hidden="true">&times;</span>
    </button>
    <a href="{{ picture.url }}" target="_blank">
        <img #imageObject class="card-img-top" src="{{ imageSRC }}" title="{{ picture.url }}" alt="Picture" (error)="updateUrl($event)">
    </a>
    <div class="card-body">
        <div class="row">
            <a [routerLink]="['/', picture.owner.username]" class="card-link col-auto">{{ picture.owner.name }}</a>
            <div class="col-auto">
                <a (click)="onLike()" class="card-link text-nowrap"><i [@divState]="heartState" (@divState.done)="onLikeDone($event, picture)" class="fa fa-heart"></i> {{ picture.likes | keys }}</a>
                <a (click)="onSave(picture)" class="card-link text-nowrap"><i class="fa fa-floppy-o" aria-hidden="true" [@divState]="saveState" (@divState.done)="saveState='normal'"></i> {{ (picture.thiefs | keys) - 1 }}</a>
            </div>
        </div>
    </div>
</div>